<h1>About Page</h1>
<p>This app is an example pinboard app built with Ruby on Rails 4.0, which is sort of awesome.</p>
<p>It features:
    <ul>
      <li>Photo Uploads (courtesy of the carrierwave gem)</li>
      <li>User Authentication (courtesy of the devise gem)</li>
      <li>Creation of new Pins</li>
      <li>Commenting</li>
      <li>Basic CRUD for all of the above</li>
    </ul>
</p>
